.search-text img{

      width: 100%;
}
.search-text{
      background-image: url('../../../images/bannerbackground.png');
      background-size: cover;
      height: 550px;
      display: flex;
      justify-content: center;
      /* align-items: center; */
}
.search{
      margin-top: 100px;
}

.input-group input{
      
}
.sing-up-btn{
      color: #ffffff;
      background-color: rgb(215, 60, 60);
      padding: 7px 15px;
      border-radius: 20px;
      text-decoration: none;
      border: none;
}

.banner-search{
      border-radius: 20px;
}
